.home__header {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  // background: linear-gradient(
  //     to bottom,
  //     $color_negro_transparent,
  //     $color_primary_transparent
  //   ),
  //   url('/src/assets/img/bg-header.jpg');
  background-image: url('/src/assets/img/bg-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      $color_negro_transparent,
      $color_primary_transparent
    );
    top: 0;
    left: 0;
  }

  h2 {
    font-size: 44px;
    max-width: 350px;
    color: $color_white;
    z-index: 1;
  }

  p {
    font-size: 16px;
    max-width: 350px;
    color: $color_white;
    margin-top: 23px;
    margin-bottom: 60px;
    z-index: 1;
    font-weight: $regular_font;
    line-height: 1.2;
  }

  @media (min-width: 768px) {
    min-height: 650px;
    padding-left: 100px;
    h2 {
      font-size: 64px;
      max-width: 526px;
    }
    p {
      font-size: 20px;
      max-width: 526px;
      margin-top: 23px;
      margin-bottom: 83px;
    }
  }
  @media (min-width: 1080px) {
    padding-left: 151px;
    min-height: 850px;
    h2 {
      font-size: 78px;
      max-width: 626px;
    }
    p {
      max-width: 626px;
      font-size: 25px;
    }
  }

  .home__header__buttons {
    display: flex;
    gap: 21px;
    z-index: 1;

    button {
      border-radius: 100px;
      border: none;
      font-family: inherit;
      padding: 10px 20px;

      @media (min-width: 768px) {
        padding: 17px 30px;
        font-size: 20px;
      }
      &:first-of-type {
        background-color: $color_white;
        color: $color_primary;
        font-weight: $semibold_font;
      }
      &:last-of-type {
        background-color: transparent;
        border: 1px solid $color_white;
        color: $color_white;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
