@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');

// Fuentes
$fuente_primaria: 'Josefin Sans', sans-serif;
$fuente_secundaria: 'DM Sans', sans-serif;

// Colors
$color_primary: #482be7;
$color_alpha_100: #5845a5;
$color_alpha_200: #6f5dbb;
$color_gris_light: #8c8c8c;
$color_gris_dark: #636363;
$color_gris_extra_light: #bfbfbf;
$color_white: #fff;
$color_negro: #000;
